name: "Reverse shell"

on:
  workflow_dispatch:
    inputs:
      os:
        description: Operating System
        required: true
        default: ubuntu-latest
        type: choice
        options:
        - ubuntu-latest
        - ubuntu-24.04-arm
        - macos-latest
        - windows-latest
        - windows-11-arm

permissions:
  contents: read

jobs:
  reverse-shell:
    runs-on: ${{ inputs.os }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Open tmate session
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: true
      env:
        GH_TOKEN: ${{ github.token }}
